.nav-container
{
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #0C2627;
	padding-left: 15px;
	font-size: 18px;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) 
{
	.hamburger__span
	{
		display: block;
		margin:4px;
		height: 9px;
		width: 60px;
		background: #3AADB3;
		border-radius: 9px;
	}

	.hamburger-checkbox:not(:checked) ~ .nav .nav__a
	{
		display: none;
	}

	.hamburger-checkbox:checked ~ .hamburger
	{
		position: fixed;
	}

	.hamburger-checkbox:checked ~ .nav
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 50px;
		left: 0px;
		background-color: black;
		height: 100vh;
		width: 100vw;
	}

	.hamburger-checkbox:checked ~ .nav > .nav__a
	{
		width: 100vw;
		background-color: black;
		color: #3AADB3;
		border-bottom: 1px solid #3AADB3;
	}
	
	.hamburger-checkbox:checked ~ .nav > .nav__a:active
	{
		width: 100vw;
		border-color: black;
	}

	.hamburger-checkbox:checked ~ .nav-container__text
	{
		display: none;
	}
}

