.nav
{
	display: flex;
	flex-direction: row;
}

.nav__a
{
	color: black;
	width: 125px;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	text-decoration: none;
}

.nav__a:hover
{
	background-color: #808080;
}

.nav__a:active
{
	background-color: black;
	color: white;
}