@media screen and (max-width: 600px)
{
	.project-main-content__img
	{
		width: 100%;
		height: auto;
	}

	.project-main-content__name
	{
		text-align: center;
		font-size: 22px;
		padding-bottom: 10px;
	}

	.project-main-content__entry-wrapper
	{
		display: flex;
		flex-direction: column;
	}

	.project-main-content__project-text
	{
		padding: 20px;
	}

	.project-main-content__link
	{
		margin-top: 25px;
	}
		
}

@media screen and (min-width: 601px)
{
	.project-main-content
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-height: calc(100vh - 140px);
	}

	.project-main-content__img
	{
		width: auto;
		height: 300px;
	}
	
	.project-main-content__entry-wrapper
	{
		height: 300px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
	}
	
	.project-main-content__project-text
	{

		width: 75%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 20px;
		height: 100%;
		overflow: auto;
	}

	.project-main-content__name
	{
		text-align: left;
		font-size: 22px;
		padding-bottom: 10px;
	}
}