* 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

/************ All monitors ************/
body
{
	font-family: 'Courier New', Courier, monospace, Verdana, 'Trebuchet MS';
	background-color: black;
	color: #9A9A9A;
}

h2, h3
{
	color: #31959A;
}

h4
{
	color: #247074;
}

h5
{
	color: #247074;
}

.hamburger-checkbox
{
	display: none;
}